.profile__editButton {
    height: 24px;
    cursor: pointer;
    transform: translate(0px, 14px);
}

@media screen and (max-width:767px) {
    .profile__editButton {
        width: 18px;
        height: 18px;
        transform: translate(39px, 8px);
    }
}